# Fichier genraux d'Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
Assets/AssetStoreTools*

# IDEs
.vs/
.idea/
.vscode/

# Autogen solution/projects
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.stacktrace
